.p-header__nav {
	&__items {
        position: relative;
		display: flex;
		align-items: center;
		.main-menu {
			display: block;
            >a {
                font-size: 1.6rem;
                height: $header__height--PC;
				padding: 0 15px;
				&:hover {
					background: #d4f1f8;
				}
				@include padding__main-menu {
					padding: 0 10px;
				};
			}
			&.special-btn {
				background-color: #2498b3;
				a {
					color: #fff;
					padding: 0 15px;
					&:hover {
						background-color: #2498b3;
					}
					@include padding__main-menu {
						padding: 0 10px;
					};
				}
			}
			.sub-menu {
				display: none;
				position: absolute;
				background-color: #e9f8fb;
				white-space: nowrap;
				.sub-menu__items {
                    justify-content: flex-start;
                    height: $header__height--PC;
                    font-size: 1.6rem;
                    font-weight: 500;
                    padding: 3px 60px 3px 15px;
                    &:hover {
                        background-color: #fff;
                        color: #2498b3;
                    }
                }
			}
		}
	
		@include hamburger{
			display: none;
		}
		
	}

	

	
}
.open {
	display: block;
	position:absolute;
	top: 50px;
	left: 0;
	// height: 1000px;
	width: 100%;
	.main-menu {
		position: relative;
		height: auto;
		background-color: #fff;
		a {
			height: 47px;
			padding: 10px 0 10px 10px;
			&:hover {
				color: initial;
				background-color: #f3fafb;
				&::after {
					content: none;
				}
			}
		}
		>a {
			&::before {
				content: "";
				display: block;
				position: absolute;
				background-color: #000;
				height: 2px;
				width: 24px;
				top: 23.5;
				right: 13px;
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				background-color: #000;
				height: 24px;
				width: 2px;
				top: 23.5;
				right: 24px;
			}
		}
		&.no-sub-menu {
			a::before, a::after {
				content: none;
			}
		}
		.sub-menu {
			position: inherit;
			background-color: #fff;
			width: 100vw;
			a {
				height: 47px;
				padding: 10px 10px 10px 25px;
			}
			li {
				height: auto;
			}
		}
	}
	.special-btn {
		display: none;
	}
	
}